@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.link {
    color: rgba($white, 0.5);
    font-size: 14px;
    line-height: 10px;
    text-decoration: none;

    &:hover, &:active {
        color: $accent;
        text-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
    }
}