@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.text {
    margin-top: 0;
    @include adaptive (14, 14, 12, font-size);
    @include adaptive (15, 15, 8, margin-bottom);
    color: rgba($white, 0.5);
}
