@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.container {
    height: 100vh;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.0001) 0%, rgba(255, 255, 255, 0.1) 100%);
    background-color: $primary-bg;
    display: flex;

   .content {
        height: 100vh;
        overflow: hidden;
   }

   .content__wrapper {
       @include adaptive (40, 40, 20, padding-top);
       @include adaptive (40, 40, 20, padding-bottom);
       @include adaptive (55, 55, 15, margin-left);
       @include adaptive (55, 55, 15, margin-right);
       height: 100%;
       overflow-y: scroll;

       &::-webkit-scrollbar {
           width: 0;
       }
   }
}