@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.button {
    background-color: $accent;
    border: $accent;
    border-radius: 4px;
    font-size: 13px;
    line-height: 10px;
    height: 30px;
    min-width: 86px;
    padding: 0 13px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;

    &:hover, &:active {
        background-color: rgba($accent, 0.5);
    }
}