@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap');
@import './mixins.scss';
@import './variables.scss';

body {
    margin: 0;
    font-family: 'Jost', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    color: $white;
}

* {
    color: inherit;
    font: inherit;
}