  // брейкпоинты
  // Десктоп:  1024px - 1920px
  // Планшет:  415px  - 1023px
  // Мобилка:  320px  - 414px

  @function interpolationDescMaxWidth($pcSize, $tabletSize, $maxWidth) {
    $pcFigmaWidth: 1600;
    $tabletFigmaWidth: 1024;
  
    @return calc(#{$tabletSize + px} + (( (#{$pcSize} - #{$tabletSize})/(#{$pcFigmaWidth} - #{$tabletFigmaWidth})) * (#{$maxWidth}px - #{$tabletFigmaWidth}px)) );
  }
  
  @function interpolationDesc($pcSize, $tabletSize) {
    $pcFigmaWidth: 1600 ;
    $tabletFigmaWidth: 1024;
  
    @return calc(#{$tabletSize + px} + (( (#{$pcSize} - #{$tabletSize})/(#{$pcFigmaWidth} - #{$tabletFigmaWidth})) * (100vw - #{$tabletFigmaWidth}px)) );
  }
  
  @function interpolationMob($tabletSize, $mobSize) {
    $tabletFigmaWidth: 1024;
    $mobFigmaWidth: 320;
  
    @return calc(#{$mobSize + px} + (( (#{$tabletSize} - #{$mobSize})/(#{$tabletFigmaWidth} - #{$mobFigmaWidth})) * (100vw - #{$mobFigmaWidth}px)) );
  }


// universal properties
@mixin adaptive($pcSize, $tabletSize, $mobSize, $property) {
    @media screen and (min-width: 1920px) {
      #{$property}: interpolationDescMaxWidth($pcSize, $tabletSize, 1920)
    }
      #{$property}: interpolationDesc($pcSize, $tabletSize);
    @media screen and (max-width: 1024px) {
      #{$property}: interpolationMob($tabletSize, $mobSize);
    }
  }
