@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.factoid {
    background-color: rgba($white, 0.06);
    padding: 7px 8px;
    border-radius: 5px;

    span {
        font-size: 13px;
        line-height: 10px;
    }

    &.iconFactoid {
        display: flex;
        align-items: center;
        color: rgba($white, 0.6);
        
        .factoid__icon {
            background: $red;
            box-shadow: 0px 0px 12px rgba($red, 0.5);
            border-radius: 4px;
            width: 18px;
            height: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
        }
        
    }
}