@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.card {
    width: 255px;
    overflow: hidden;
    border-radius: 6px;
    background-color: rgba($white, 0.04);
    display: flex;
    flex-direction: column;

    &__top {
        position: relative;
    }

    &__pic {
        max-height: 140px;
        overflow: hidden;
    }

    &__pic img {
        width: 100%;
        transition: 0.7s ease-in-out;
    }

    &:hover &__pic img {
        width: 120%;
    }

    &__entity {
        font-size: 12px;
        line-height: 1;
        padding: 4px 6px;
        background-color: $accent;
        border-radius: 3px;
        position: absolute;
        top: 15px;
        left: 7px;
    }

    &__info {
        padding: 15px;
        flex-grow: 1;
        border-bottom: 1px solid rgba($gray, 0.1);
    }

    &__title {
        font-size: 16px;
        line-height: 12px;
        margin-top: 0;
        margin-bottom: 10px;
    }

    &__desc {
        font-size: 14px;
        margin: 0;
        line-height: 18px;
        color: rgba($white, 0.5)
    }

    &__action {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__date {
        font-size: 13px;
        line-height: 10px;
    }
}