@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.logo {
    padding: 22px 0 7px 30px;
    background: #333447;
    border-bottom: 1px solid rgba($gray, 0.1);
    position: sticky;
    top: 0;
    z-index: 1;
}