@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.itemCards {
    @include adaptive (60, 60, 40, margin-bottom);

    &:last-child {
        margin-bottom: 300px;
    }
}

.itemCards__infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include adaptive (25, 25, 20, margin-bottom);

    .itemCards__info {
        display: flex;
        flex-direction: column;
    }

    .itemCards__subtitle {
        text-transform: uppercase;
        color: rgba($white, 0.4);
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 7px;
    }

    .itemCards__title {
        text-transform: uppercase;
        color: $white;
        font-size: 22px;
        line-height: 18px;
    }
}

.itemCards__listing {
    display: flex;

    .itemCards__btn {
        margin-right: 10px;
    }
}
.list {
    display: flex;
    gap: 11px;
}