@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.sliderBtn {
    background-color: transparent;
    border: 1px solid rgba($white, 0.15);
    width: 30px;
    height: 30px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.4s ease;

    svg {
        width: 6px;
        height: 10px;
    }

    &:hover, &:active {
        border: 1px solid $accent;

        svg path {
            fill: $accent;
        }
    } 

    &.right {
        margin-left: 5px;
        svg {
            transform: rotate(180deg)
        }
    }
}