@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.userThumb {
    display: flex;
    align-items: center;
    margin-left: 13px;
    position: relative;

    &_pro {
        padding-right: 55px;
    }
    
    &__avatar {
        width: 44px;
        height: 44px;
        margin-right: 14px;

        img {
            width: 100%;
        }
    }

    .userInfo {

        &__name {
            color: $white;
            margin-bottom: 9px;
            line-height: 10px;
        }

       
        &__status {
            font-size: 13px;
            line-height: 10px;
            color: $green;
            padding-left: 11px;
            position: relative;

            &:before {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $green;
                position: absolute;
                left: 0;
                top: 7px;
            }
        }

        &__pro {
            padding: 2px 11px 2px 8px;
            background: $accent-gradient;
            border-radius: 4px;
            box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
            position: absolute;
            top: 0;
            right: -10px;
        }
    }
}

