@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.topmenu {
    border-right: 1px solid rgba($gray, 0.1);
    padding: 7px 0;

    &__container {
        max-height: 71px;
        border-bottom: 1px solid rgba($gray, 0.1);
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 13px 55px;
    }

    &__link {
        margin-right: 28px;
    }
}

.mainInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__factoids {
        display: flex;
    
        .mainInfo__factoid {
            margin-right: 10px;
            max-height: 24px;
    
            &:last-child {
                margin-right: 0;
            }
        }
    
        .mainInfo__factoidNum {
            font-weight: 600;
            color: $white;
        }
    }
}





