@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.sidebar {
    width: 280px;
    height: 100vh;
    background: rgba($accent, 0.04);
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.sidebar__menu {
    padding: 30px 0 15px;
    margin: 0;
    list-style: none;
    border-bottom: 1px solid rgba($gray, 0.06);

    &_first {
        text-transform: uppercase;
        border-bottom: none;
    }

    &_second, &_third {
        padding-top: 0;
        border-bottom: none;
    }

    &_second {
        padding-bottom: 0;
    }

    &_third {
        padding: 5px 0 20px;
    }
}