@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.menuItem {
    position: relative;
    margin-bottom: 13px;
    
    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 20px;
        padding-left: 30px;
        display: inline-block;
        width: 100%;
        cursor: pointer;

        

        .menuItem__arrow {
            position: absolute;
            transform: rotate(-90deg);
            right: 30px;
            top: 3px;
        }

        &:hover {
            color: $accent;
            text-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);

            svg path{
                fill: $accent;
                // box-shadow: 0px 0px 12px rgba(111, 110, 255, 0.5);
            }
        }

        &.opened .menuItem__arrow{
            position: absolute;
            transform: rotate(90deg);
            right: 30px;
            top: 3px;
        }

        
    }

    &__withIcon {
        padding: 11px;
        padding-left: 47px;
        font-size: 14px;
        line-height: 10px;
        color: rgba($white, 0.5);
        text-transform: capitalize;
        margin-bottom: 0;

        .menuItem__link {
            display: flex;
            align-items: center;
        }

        svg {
            width: 18px;
            margin-right: 27px;
            
            path {
                fill: $dark-gray;
            }
        }

        &.menuItem__active {
            border-left: 3px solid $accent;
            color: $white;
    
            svg {
                
                path {
                    fill: $accent;
                }
            }
        }
    }
        
    
}